.wrap-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    padding: .25rem 1rem;

    .logo {
        width: 12rem;
        cursor: pointer;
    }

    .wrap-navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;

        span, button {
            cursor: pointer;
        }
        
        .button-register {
            border: 1px solid #3f51b5;
        }
    }
}