.card-tickets {
    background: #f8f8f8;
    min-height: 15em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .form-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .button-change, 
        .button-find {
            margin-bottom: 1rem;
        }
    }

}