.card-travel {
  max-width: 20rem;
  min-height: 33rem;
  display: flex;
  flex-direction: column;

  .card-image {
    max-height: 14rem;
  }

  .card-content {
    flex-grow: 1;
  }
  
  .wrap-action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
