<mat-card class="card-travel">
  <mat-card-header>
    <div mat-card-avatar [style.backgroundImage]="'url(' + image + ')'"></div>
    <mat-card-title>{{ capital }}</mat-card-title>
    <mat-card-subtitle>{{ state }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="image" alt="{{capital}}" class="card-image">
  <mat-card-content class="card-content">
    <p>
      {{ description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="wrap-action-buttons">
    <button mat-button (click)="openDialog()">EDITAR</button>
    <button mat-button (click)="openDialog()">DELETAR</button>
  </mat-card-actions>
</mat-card>
