.banner {
    display: block;
    width: 100%;
}
.main {
    padding: 2rem;
    
    .travel-cards {
        border: 1px solid #f00;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: .5rem;
        gap: .25rem;
    }
}